data/
_data/
__data/
__pycache__/
excel_meta/
logs/
debug/
CME_metadata.csv
CME_metadata.zip
CME_price_data.zip
*.zip
bundles/CME_price_data.zip
bundles/expiration_dates.csv

#*
*~
.#*
.ipynb_checkpoints
__pycache__
